<div class="body">
  <form
    [formGroup]="trackerForm"
    (ngSubmit)="onSubmit()"
    class="package-tracker"
  >
    <input
      id="packageId"
      type="text"
      formControlName="packageId"
      placeholder="Enter Package Id. Ex: PAK-..."
      class="package-id-input"
    />

    <button class="track-button" type="submit">Track</button>
  </form>
  <div class="track-body">
    <div *ngIf="packageData" class="track-results">
      <h2>Package Details</h2>
      <div class="package-details-item">
        <span class="dms-title">From: </span>
        <span
          >{{ packageData.from_name }} at
          <span class="location">{{ packageData.from_address }}</span>
        </span>
      </div>
      <div class="package-details-item">
        <span class="dms-title">To: </span>
        <span
          >{{ packageData.to_name }} at
          <span class="location">{{ packageData.to_address }}</span>
        </span>
      </div>
      <div class="package-details-item">
        <span class="dms-title">Description: </span>
        <span>{{ packageData.description }} </span>
      </div>
      <div class="package-details-item">
        <span class="dms-title">Dimensions: </span>
        <span>
          <div>Width: {{ packageData.width }} cm</div>
          <div>Height: {{ packageData.height }} cm</div>
          <div>Depth: {{ packageData.depth }} cm</div>
          <div>Weight: {{ packageData.weight }} kg</div>
        </span>
      </div>
      <h2>Delivery Details</h2>
      <div *ngIf="deliveryData">
        <div class="package-details-item">
          <span>Delivery Status: </span>
          <span>
            {{ packageStatus }}
          </span>
        </div>
      </div>
    </div>
    <google-map
      *ngIf="packageData"
      [center]="center"
      [zoom]="zoom"
      width="100%"
      height="100%"
      (mapInitialized)="onMapReady($event)"
    >
      <map-marker
        #marker="mapMarker"
        *ngFor="let markerPosition of markerPositions; let i = index"
        [position]="markerPosition.location"
        [options]="markerOptions"
        (mapClick)="openInfoWindow(marker, i)"
      >
        <map-info-window>{{ markerPosition.content }}</map-info-window>
        @if (directionsResults$ | async; as directionsResults) {
        <map-directions-renderer
          [directions]="directionsResults"
          [options]="directionLineOptions"
        />
        } @if (directionsResultsOriginCenter$ | async; as
        directionsResultsOriginCenter) {
        <map-directions-renderer [directions]="directionsResultsOriginCenter" />
        } @if (directionsResultsCenterDestination$ | async; as
        directionsResultsCenterDestination) {
        <map-directions-renderer
          [directions]="directionsResultsCenterDestination"
        />
        }
      </map-marker>
    </google-map>
  </div>
</div>
