/* package-tracker.component.css */
.body {
    width: 100vw;
}
.package-tracker {
    /* Styles for the overall component container */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
    gap: 10%;
    justify-content: center;
    height:auto;
    background-color: rgb(20, 124, 153);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .package-id-input {
    /* Styles for the input field */
    width: 70%;
    // border: 1px solid #ccc;
    border-radius: 10px;
    height: 60px;
    margin-top: 17px;
  }
  
  .track-button {
    /* Styles for the button */
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    width: 20%;
    align-items: center;
    justify-content: center;
  }

  .track-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #eff5f4;
    border: 2px solid #555151;
    min-height: 60vh;
    height: 76vh;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20;
  }
  
  
  
  .track-results {
    /* Styles for the tracking results section */
    // background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #ccc;
    width: 50%;
    height: 100%;
    
  }

  google-map {
    width: 50%;
    border-left: #010101;
    height: 100%;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }
  
  .track-results h2 {
    /* Styles for headers within the results section */
    margin-bottom: 15px;
  }
  
  .location {
    background-color: #4CAF50;
  }

  .package-details-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #ddf3f6;
  }