<div class="body">
  <form
    [formGroup]="trackerForm"
    (ngSubmit)="onSubmit()"
    class="package-tracker"
  >
    <input
      id="deliveryId"
      type="text"
      formControlName="deliveryId"
      placeholder="Enter Delivery ID. Ex: DEL-...."
      class="package-id-input"
    />

    <button class="track-button" type="submit">Submit</button>
  </form>
  <div class="track-body">
    <div *ngIf="packageData" class="track-results">
      <h2>Package Details</h2>
      <div class="package-details-item">
        <span class="dms-title">From: </span>
        <span
          >{{ packageData.from_name }} at
          <span class="location">{{ packageData.from_address }}</span>
        </span>
      </div>
      <div class="package-details-item">
        <span class="dms-title">To: </span>
        <span
          >{{ packageData.to_name }} at
          <span class="location">{{ packageData.to_address }}</span>
        </span>
      </div>
      <div class="package-details-item">
        <span class="dms-title">Description: </span>
        <span>{{ packageData.description }} </span>
      </div>
      <div class="package-details-item">
        <span class="dms-title">Dimensions: </span>
        <span class="package-details-item-sub">
          <div class="package-sub-div">
            <span class="dms-title-sub">Width: </span>
            <span>{{ packageData.width }} cm</span>
          </div>
          <div class="package-sub-div">
            <span class="dms-title-sub"> Height:</span>
            <span> {{ packageData.height }} cm</span>
          </div>
          <div class="package-sub-div">
            <span class="dms-title-sub">Depth: </span>
            <span> {{ packageData.depth }} cm</span>
          </div>
          <div class="package-sub-div">
            <span class="dms-title-sub">Weight:</span>
            <span>{{ packageData.weight }} kg</span>
          </div>
        </span>
      </div>
      <h2>Delivery Details</h2>
      <div *ngIf="deliveryData">
        <div class="package-details-item">
          <span class="dms-title">Delivery Status: </span>
          <span class="dms-title-val">
            {{ deliveryData.status.toUpperCase() }}
          </span>
        </div>
        <div class="package-details-item">
          <span class="dms-title">Delivery Pickup Time: </span>
          <span>
            {{
              deliveryData.pickup_time
                ? deliveryData.pickup_time
                : "Delivery not picked up"
            }}
          </span>
        </div>
        <div class="package-details-item">
          <span class="dms-title">Delivery Start Time: </span>
          <span>
            {{
              deliveryData.start_time
                ? deliveryData.start_time
                : "Delivery not started"
            }}
          </span>
        </div>
        <div class="package-details-item">
          <span class="dms-title">Delivery End Time: </span>
          <span>
            {{
              deliveryData.end_time
                ? deliveryData.end_time
                : "Delivery not completed"
            }}
          </span>
        </div>
      </div>
    </div>
    <google-map
      *ngIf="packageData"
      [center]="center"
      [zoom]="zoom"
      width="100%"
      height="100%"
      (mapInitialized)="onMapReady($event)"
    >
      <map-marker
        #marker="mapMarker"
        *ngFor="let markerPosition of markerPositions; let i = index"
        [position]="markerPosition.location"
        [options]="markerOptions"
        (mapClick)="openInfoWindow(marker, i)"
      >
        <map-info-window>{{ markerPosition.content }}</map-info-window>

        <map-directions-renderer
          *ngIf="directionOptionsOriginDestination"
          [options]="directionOptionsOriginDestination"
        />
        <map-directions-renderer
          *ngIf="directionOptionsCenterDestination"
          [options]="directionOptionsCenterDestination"
        />

        <map-directions-renderer
          *ngIf="directionOptionsOriginCenter"
          [options]="directionOptionsOriginCenter"
        />
      </map-marker>
    </google-map>
    <div *ngIf="packageData" class="track-buttons-right">
      <div class="right-header">
        <h1>Action Buttons</h1>
      </div>
      <button
        class="action-button pick-up"
        (click)="pickUp()"
        [disabled]="
          packageData && deliveryData && deliveryData.status !== 'open'
        "
      >
        Picked Up
      </button>
      <button
        class="action-button transit"
        (click)="inTransit()"
        [disabled]="
          packageData && deliveryData && deliveryData.status !== 'picked-up'
        "
      >
        In Transit
      </button>
      <button
        class="action-button delivered"
        (click)="deliver()"
        [disabled]="
          packageData && deliveryData && deliveryData.status !== 'in-transit'
        "
      >
        Delivered
      </button>
      <button
        class="action-button failed"
        (click)="fail()"
        [disabled]="
          packageData && deliveryData && deliveryData.status !== 'in-transit'
        "
      >
        Failed
      </button>
    </div>
  </div>
</div>
