<div class="body">
  <form
    [formGroup]="trackerForm"
    (ngSubmit)="onSubmit()"
    class="package-tracker"
  >
    <input
      id="deliveryId"
      type="text"
      formControlName="deliveryId"
      placeholder="Enter Delivery ID. Ex: DEL-...."
      class="package-id-input"
    />

    <button class="track-button" type="submit">Submit</button>
  </form>
  <div class="track-body">
    <div *ngIf="packageData" class="track-results">
      <h2>Package Details</h2>
      <div class="package-details-item">
        <span>From: </span>
        <span
          >{{ packageData.from_name }} at
          <span class="location">{{ packageData.from_address }}</span>
        </span>
      </div>
      <div class="package-details-item">
        <span>To: </span>
        <span
          >{{ packageData.to_name }} at
          <span class="location">{{ packageData.to_address }}</span>
        </span>
      </div>
      <div class="package-details-item">
        <span>Description: </span>
        <span>{{ packageData.description }} </span>
      </div>
      <div class="package-details-item">
        <span>Dimensions: </span>
        <span>
          <span>{{ packageData.width }} cm </span> W x
          <span>{{ packageData.height }} cm </span> H x
          <span>{{ packageData.depth }} cm </span> D,
          <span>Weight: {{ packageData.weight }} kg </span> W
        </span>
      </div>
      <h2>Delivery Details</h2>
      <div *ngIf="deliveryData">
        <div class="package-details-item">
          <span>Delivery Status: </span>
          <span>
            {{ deliveryData.status }}
          </span>
        </div>
      </div>
    </div>
    <google-map
      *ngIf="packageData"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
      width="100%"
      height="100%"
    >
      <map-marker
        #marker="mapMarker"
        *ngFor="let markerPosition of markerPositions; let i = index"
        [position]="markerPosition.location"
        [options]="markerOptions"
        (mapClick)="openInfoWindow(marker, i)"
      >
        <map-info-window>{{ markerPosition.content }}</map-info-window>
      </map-marker>
    </google-map>
    <div *ngIf="packageData" class="track-buttons-right">
      <div class="right-header">
        <h1>Action Buttons</h1>
      </div>
      <button class="action-button pick-up" (click)="pickUp()">
        Picked Up
      </button>
      <button class="action-button transit" (click)="inTransit()">
        In Transit
      </button>
      <button class="action-button delivered" (click)="deliver()">
        Delivered
      </button>
      <button class="action-button failed" (click)="fail()">Failed</button>
    </div>
  </div>
</div>
