/* package-tracker.component.css */
.body {
    width: 100vw;
}
.package-tracker {
    /* Styles for the overall component container */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
    justify-content: space-around;
    height:auto;
    background-color: rgb(20, 124, 153);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .package-id-input {
    /* Styles for the input field */
    width: 70%;
    // border: 1px solid #ccc;
    border-radius: 10px;
    height: 60px;
    margin-top: 17px;
  }
  
  .track-button {
    /* Styles for the button */
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #555151;
  }

  .track-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #eff5f4;
    border: 2px solid #555151;
    min-height: 60vh;
    height: 76vh;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20;
  }
  
  
  

  .track-results {
    /* Styles for the tracking results section */
    // background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #ccc;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    
  }

  google-map {
    width: 40%;
    border-left: #010101;
    height: 100%;
  }

  .track-buttons-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #ddf3f6;
    // padding: 20px;
    border-radius: 5;
    height: 100%;
    border-left: 1px solid #007cc4;
    align-items: center;
    justify-content: space-around;
  }

  .action-button {
    width: 90%;
    height: 60px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
  }

  .action-button.pick-up {
    background-color: #007cc4;
  }
  .action-button.transit {
    background-color: #dd7a33;
  }
  .action-button.delivered {
    background-color: #12802a;
  }
  .action-button.failed {
    background-color: #e33b11;
  }

  .right-header {
    border-bottom: 2px solid #386d57;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  
  .track-results h2 {
    /* Styles for headers within the results section */
    margin-bottom: 15px;
  }
  
  .track-results h2 {
    /* Styles for headers within the results section */
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
  }
  
  .location {
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 5px 5px;
    color: #fff;
    font-weight: 600;

  }

  .dms-title {
    font-weight: 700;
    flex: 1
  }

  .dms-title-sub {
    font-weight: 600;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dms-title-val {
    font-weight: 600;
  }

  .package-details-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 20px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #b5ecf3;
    border-radius: 10px;
  }

  .package-details-item-sub {
    flex: 1;
    justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 2px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .package-sub-div {
    flex: 1;
    display: flex;
  }